In [1]:
import pandas as pd

In [2]:
# Cargar los archivos CSV
df1 = pd.read_csv('/mnt/c6c29b92-c396-4913-b7c7-b2456280d17a/Software y Programación/Ciencia de Datos/Datathon/ProdEnPromo-UM.csv')
df2 = pd.read_csv('/mnt/c6c29b92-c396-4913-b7c7-b2456280d17a/Software y Programación/Ciencia de Datos/Datathon/Producto-UM.csv')
df3 = pd.read_csv('/mnt/c6c29b92-c396-4913-b7c7-b2456280d17a/Software y Programación/Ciencia de Datos/Datathon/VentasPR.csv')

# Ahora df1, df2, y df3 son DataFrames de pandas que contienen los datos de cada archivo CSV respectivamente.

In [3]:
df1

      PRDCODEXT PROMDEFFECDES PROMDEFFECHAS
0        560226    13/02/2023    26/02/2023
1        560227    13/02/2023    26/02/2023
2        561875    13/02/2023    26/02/2023
3        561895    13/02/2023    26/02/2023
4        561899    13/02/2023    26/02/2023
...         ...           ...           ...
1689     607064    06/02/2024    25/02/2024
1690     607065    06/02/2024    25/02/2024
1691     607066    06/02/2024    25/02/2024
1692     560226    19/03/2024    07/04/2024
1693     560227    19/03/2024    07/04/2024

[1694 rows x 3 columns]

In [4]:
df2

         Cod  Status Hoy   Prov  Cat   Tipo Prov
0     561699           5  68952   216          1
1     561634           5  68952   216          1
2     561694           5  68952   216          1
3     561826           5  68952   216          1
4     561891           5  68952   216          1
...      ...         ...    ...   ...        ...
2079  562769           5  66468   216          1
2080  562771           5  66468   216          1
2081  562772           5  66468   216          1
2082  562774           5  66468   216          1
2083  562775           5  66468   216          1

[2084 rows x 5 columns]

In [5]:
df3

        LOCCOD     MOVFEC  PRDCODEXT  ACPRCANTVEND ACPRIMPVEN
0         5201   2/5/2021     600790             7       1393
1         5201   2/5/2021     600793             2        390
2         5201   2/5/2021     600794             7       2023
3         5201   2/5/2021     605089             1        399
4         5201   2/5/2021     605097             1        565
...        ...        ...        ...           ...        ...
145271    5201  30/4/2024     600917             4       2320
145272    5201  30/4/2024     600918             1        580
145273    5201  30/4/2024     600919             1        580
145274    5201  30/4/2024     600922             1        379
145275    5201  30/4/2024     600988             4        796

[145276 rows x 5 columns]

In [6]:
# Renombrar la columna 'Cod' en df2 a 'PRDCODEXT'
df2.rename(columns={'Cod': 'PRDCODEXT'}, inplace=True)

# Agregar sufijos a las columnas de cada dataframe para identificar su origen
df1 = df1.add_suffix('_df1')
df2 = df2.add_suffix('_df2')
df3 = df3.add_suffix('_df3')

# Corregir los nombres de las columnas de PRDCODEXT para que coincidan en todos los dataframes
df1.rename(columns={'PRDCODEXT_df1': 'PRDCODEXT'}, inplace=True)
df2.rename(columns={'PRDCODEXT_df2': 'PRDCODEXT'}, inplace=True)
df3.rename(columns={'PRDCODEXT_df3': 'PRDCODEXT'}, inplace=True)

In [7]:
# Realizar un full outer join
df_merged = df1.merge(df2, on='PRDCODEXT', how='outer')
df_merged = df_merged.merge(df3, on='PRDCODEXT', how='outer')

In [8]:
df_merged

,PRDCODEXT,PROMDEFFECDES_df1,PROMDEFFECHAS_df1,Status Hoy_df2,Prov_df2,Cat _df2,Tipo Prov_df2,LOCCOD_df3,MOVFEC_df3,ACPRCANTVEND_df3,ACPRIMPVEN_df3
0,560226,13/02/2023,26/02/2023,1.0,10214.0,216.0,1.0,5201.0,17/8/2021,2.0,978
1,560226,13/02/2023,26/02/2023,1.0,10214.0,216.0,1.0,5201.0,23/8/2021,0.0,489
2,560226,13/02/2023,26/02/2023,1.0,10214.0,216.0,1.0,5201.0,24/8/2021,1.0,489
3,560226,13/02/2023,26/02/2023,1.0,10214.0,216.0,1.0,5201.0,27/8/2021,4.0,1956
4,560226,13/02/2023,26/02/2023,1.0,10214.0,216.0,1.0,5201.0,28/8/2021,1.0,489
...,...,...,...,...,...,...,...,...,...,...,...
344743,600684,NaN,NaN,NaN,NaN,NaN,NaN,5201.0,4/11/2023,1.0,219
344744,600684,NaN,NaN,NaN,NaN,NaN,NaN,5201.0,15/11/2023,1.0,219
344745,600684,NaN,NaN,NaN,NaN,NaN,NaN,5201.0,18/11/2023,1.0,219
344746,600684,NaN,NaN,NaN,NaN,NaN,NaN,5201.0,2/12/2023,1.0,219
344747,590136,NaN,NaN,NaN,NaN,NaN,NaN,5201.0,17/4/2024,3.0,612

In [9]:
# Exportar el dataframe combinado a un archivo CSV
df_merged.to_csv('dataframe_combinado.csv', index=False)

In [10]:
#Corroboramos que no existan duplicados
df_merged.duplicated().sum()

0

In [11]:
df_merged.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 344748 entries, 0 to 344747
Data columns (total 11 columns):
 #   Column             Non-Null Count   Dtype
---  ------             --------------   -----
 0   PRDCODEXT          344748 non-null  int64
 1   PROMDEFFECDES_df1  303896 non-null  object
 2   PROMDEFFECHAS_df1  303896 non-null  object
 3   Status Hoy_df2     344422 non-null  float64
 4   Prov_df2           344422 non-null  float64
 5   Cat _df2           344422 non-null  float64
 6   Tipo Prov_df2      344422 non-null  float64
 7   LOCCOD_df3         344122 non-null  float64
 8   MOVFEC_df3         344122 non-null  object
 9   ACPRCANTVEND_df3   344122 non-null  float64
 10  ACPRIMPVEN_df3     344122 non-null  object
dtypes: float64(6), int64(1), object(4)
memory usage: 31.6+ MB

In [12]:
df_merged.isnull().sum()

PRDCODEXT                0
PROMDEFFECDES_df1    40852
PROMDEFFECHAS_df1    40852
Status Hoy_df2         326
Prov_df2               326
Cat _df2               326
Tipo Prov_df2          326
LOCCOD_df3             626
MOVFEC_df3             626
ACPRCANTVEND_df3       626
ACPRIMPVEN_df3         626
dtype: int64

In [13]:
# Se eliminan las filas que ACPRCANTVEND_df3 es Na, por tanto se limpian datos de df3 = VentasPR

df_depurado_parcial = df_merged[df_merged['ACPRCANTVEND_df3'].notna()]

In [14]:
# Se eliminan las 319 filas que traen informacion incompleta desde df2 = Producto-UM

df_depurado = df_depurado_parcial[df_depurado_parcial['Cat _df2'].notna()]

In [15]:
df_depurado.isnull().sum()

PRDCODEXT                0
PROMDEFFECDES_df1    40073
PROMDEFFECHAS_df1    40073
Status Hoy_df2           0
Prov_df2                 0
Cat _df2                 0
Tipo Prov_df2            0
LOCCOD_df3               0
MOVFEC_df3               0
ACPRCANTVEND_df3         0
ACPRIMPVEN_df3           0
dtype: int64

In [16]:
# Convertir las columnas de fechas en formato "datetime64"
df_depurado['PROMDEFFECDES_df1'] = pd.to_datetime(df_depurado['PROMDEFFECDES_df1'], format='%d/%m/%Y')
df_depurado['PROMDEFFECHAS_df1'] = pd.to_datetime(df_depurado['PROMDEFFECHAS_df1'], format='%d/%m/%Y')
df_depurado['MOVFEC_df3'] = pd.to_datetime(df_depurado['MOVFEC_df3'], format='%d/%m/%Y')

/tmp/ipykernel_19961/3612776885.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_depurado['PROMDEFFECDES_df1'] = pd.to_datetime(df_depurado['PROMDEFFECDES_df1'], format='%d/%m/%Y')
/tmp/ipykernel_19961/3612776885.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_depurado['PROMDEFFECHAS_df1'] = pd.to_datetime(df_depurado['PROMDEFFECHAS_df1'], format='%d/%m/%Y')
/tmp/ipykernel_19961/3612776885.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_depurado['MOVFEC_df3'] = pd.to_datetime(df_depurado['MOVFEC_df3'], format='%d/%m/%Y')

"\n# Formateamos los objetos de fecha\ndf_depurado['PROMDEFFECDES_df1'] = df_depurado['PROMDEFFECDES_df1'].dt.strftime('%d-%m-%Y')\ndf_depurado['PROMDEFFECHAS_df1'] = df_depurado['PROMDEFFECHAS_df1'].dt.strftime('%d-%m-%Y')\ndf_depurado['MOVFEC_df3'] = df_depurado['MOVFEC_df3'].dt.strftime('%d-%m-%Y')\n\n"

In [17]:
df_depurado.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 343803 entries, 0 to 344548
Data columns (total 11 columns):
 #   Column             Non-Null Count   Dtype
---  ------             --------------   -----
 0   PRDCODEXT          343803 non-null  int64
 1   PROMDEFFECDES_df1  303730 non-null  datetime64[ns]
 2   PROMDEFFECHAS_df1  303730 non-null  datetime64[ns]
 3   Status Hoy_df2     343803 non-null  float64
 4   Prov_df2           343803 non-null  float64
 5   Cat _df2           343803 non-null  float64
 6   Tipo Prov_df2      343803 non-null  float64
 7   LOCCOD_df3         343803 non-null  float64
 8   MOVFEC_df3         343803 non-null  datetime64[ns]
 9   ACPRCANTVEND_df3   343803 non-null  float64
 10  ACPRIMPVEN_df3     343803 non-null  object
dtypes: datetime64[ns](3), float64(6), int64(1), object(1)
memory usage: 31.5+ MB